<p-confirmdialog />
<app-filter [filterItems]="filters" (filters)="onFilterData($event)" />
<app-header-content
  [title]="title"
  [typePage]="typePage"
  [trashes]="(trashes$ | async) ?? 0"
  (create)="onCreate()"
  (deleteAll)="onDeleteAll()"
  [hasSelectedItem]="(hasSelectedItems$ | async) ?? false">
</app-header-content>
<app-data-table
  [items]="companies$ | async"
  [headers]="headers"
  [typePage]="typePage"
  [areAllSelected]="(areAllSelected$ | async) ?? false"
  [selectedItems]="selectedItems$ | async"
  [loading]="(loading$ | async) ?? false"
  (update)="onUpdate($event)"
  (delete)="onDelete($event)"
  (toggleItem)="onToggleItem($event)"
  (toggleAll)="onToggleAll($event)">
</app-data-table>
