<div class="flex flex-wrap gap-8 mt-4">
  <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-orange-600 w-full h-full p-6" routerLink="asignaciones">
      <h3 class="text-lg">Asignaciones</h3>
    </a>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-orange-600 w-full h-full p-6" routerLink="asistencias">
      <h3 class="text-lg">Asistencias</h3>
    </a>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-orange-600 w-full h-full p-6" routerLink="descansos">
      <h3 class="text-lg">Descansos</h3>
    </a>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-orange-600 w-full h-full p-6" routerLink="permisos">
      <h3 class="text-lg">Permisos</h3>
    </a>
  </div>
</div>
