<div class="overflow-x-auto">
  <p-table
    [value]="items"
    [(selection)]="selectedItems"
    selectionMode="multiple"
    (onHeaderCheckboxToggle)="onToggleAll($event)"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [loading]="loading"
    [showLoader]="false"
    size="small"
    [scrollable]="true"
    scrollDirection="both"
    [tableStyle]="{'min-width': '60rem'}"
    responsiveLayout="scroll"
    [resizableColumns]="false"
    columnResizeMode="fit">
    <ng-template pTemplate="loadingbody">
      <tr *ngFor="let _ of [1,2,3,4, 5]">
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td *ngFor="let item of headers">
          <p-skeleton></p-skeleton>
        </td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          class="w-1 px-3 py-2 text-left text-xs font-medium uppercase">
          <div class="flex items-center gap-2">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </div>
        </th>
        <th pFrozenColumn class="p-table-thead w-2 text-center">#</th>
        @for (header of headers; track $index) {
          <th class="p-table-thead">{{ header.label }}</th>
        }
        <th class="p-table-thead w-40 text-right">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      @if (!loading) {
        <tr class="cursor-pointer" (click)="onToggleItem(item.id)">
          <td class="px-3 py-2 whitespace-nowrap">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td pFrozenColumn [style]="{textAlign: 'center'}">{{ rowIndex + 1 }}</td>
          @for (header of headers; track $index) {
            <td>
              @if(header.key === 'state') {
                <div class="flex items-center">
                  @if(item[header.key] === 'Activo') {
                    <span class="text-green-500">
                      <i class="pi pi-circle-fill text-[.75rem]"></i>
                      {{ item[header.key] }}
                    </span>
                  } @else {
                    <span class="text-red-600">
                      <i class="pi pi-circle-fill text-[.75rem]"></i>
                      {{ item[header.key] }}
                    </span>
                  }
                </div>
              } @else {
                {{ item[header.key] | formatData:header.type }}
              }
            </td>
          }
          <td>
            <div class="flex justify-end gap-2">
              @if(typePage === types.LIST) {
                @for (header of headers; track $index) {
                  @if(header.key === 'state' && item[header.key] !== 'Activo') {
                    <p-button icon="pi pi-file-edit" size="small" pTooltip="Renovar" tooltipPosition="bottom" styleClass="bg-cyan-600 border-cyan-600 hover:bg-cyan-700 text-white w-8" (onClick)="onRenew(item); $event.stopPropagation()"></p-button>
                  }
                }
              }
              @if(typePage === types.RECYCLE) {
                <p-button icon="pi pi-undo" severity="info" size="small" pTooltip="Restaurar"
                tooltipPosition="bottom" (onClick)="onRestore(item); $event.stopPropagation()" styleClass="w-8"></p-button>
              }
              @if(typePage === types.LIST) {
                <p-button icon="pi pi-pencil" size="small" pTooltip="Editar" tooltipPosition="bottom" styleClass="bg-orange-400 border-orange-400 hover:bg-orange-500 w-8" (onClick)="onUpdate(item); $event.stopPropagation()"></p-button>
              }
              <p-button icon="pi pi-trash" size="small" pTooltip="Eliminar" tooltipPosition="bottom" styleClass="bg-red-500 border-red-500 hover:bg-red-600 w-8" (onClick)="onDelete(item); $event.stopPropagation()"></p-button>
            </div>
          </td>
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" [colSpan]="headers.length + 3">
          <p class="py-3">No hay elementos para mostrar en la lista</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
