
<form [formGroup]="myForm" (ngSubmit)="onSubmit(true)">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    @for (item of formFields; track $index) {
      @if(item.type !== 'group') {
        <app-form-fields
          [field]="item"
          [myForm]="myForm"
          [isInvalid]="isInvalid(item.key)"
          [optionsSelect]="getOptionsSelect(item.key) | async"
          (selectItem)="onSelectItem($event, item)">
        </app-form-fields>
      } @else if(item.type === 'group') {
        <div class="col-span-1 md:col-span-2">
          <h3 class="mb-2">{{ item.label }}</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroupName]="item.key">
            @for (itemArray of item.options; track $index) {
              <app-form-fields
                [field]="itemArray"
                [myForm]="getGroupForm(item.key)"
                [isInvalid]="isInvalid(item.key, itemArray.key)"
                [optionsSelect]="getOptionsSelect(itemArray.key) | async"
                (selectItem)="onSelectItem($event, itemArray)">
              </app-form-fields>
            }
          </div>
        </div>
      }
    }

    <!-- Botones en horizontal -->
    <div class="col-span-1 md:col-span-2 flex justify-end gap-2">
      <p-button
        label="Cancelar"
        type="button"
        styleClass="border-indigo-100 bg-indigo-100 hover:bg-indigo-200 text-gray-800"
        (onClick)="onCancel()"
        size="small"
      ></p-button>
      @if(!entityID) {
        <p-button
          label="Guardar y crear"
          styleClass="p-button-info"
          type="button"
          (onClick)="onSubmit(false)"
          size="small"
        ></p-button>
      }
      <p-button
        [label]="entityID ? 'Actualizar' : 'Guardar'"
        type="submit"
        styleClass="border-cyan-700 bg-cyan-700 hover:bg-cyan-800"
        size="small"
      ></p-button>
    </div>
  </div>
</form>
