<p-drawer [visible]="visible()" (onHide)="onHide()" styleClass="w-full sm:w-60 md:w-90">
  <ng-template #header>
    <h2>Filtros de búsqueda</h2>
  </ng-template>

  <form [formGroup]="filterForm" (submit)="onSubmit()">
    <div class="flex flex-col gap-y-3">
      @for (item of filterItems; track $index) {
        @if(item.type === 'input') {
          <p-iftalabel>
            <input pInputText [id]="item.key" [formControlName]="item.key" autocomplete="off" class="w-full" />
            <label [for]="item.key">{{ item.label }}</label>
          </p-iftalabel>
        }
        @if(item.type === 'select') {
          <p-iftalabel>
            <p-select [id]="item.key" [formControlName]="item.key" [options]="getOptionsSelect(item.key) | async" optionLabel="name" optionValue="id" [showClear]="true" class="w-full" />
            <label [for]="item.key">{{ item.label }}</label>
          </p-iftalabel>
        }
      }
    </div>
  </form>
  <ng-template #footer>
    <div class="flex items-center gap-2">
      <button pButton label="Limpiar" icon="pi pi-eraser" class="w-full" severity="secondary" (click)="clearForm()"></button>
      <button pButton label="Buscar" icon="pi pi-search" class="w-full" severity="primary" (click)="submitForm()"></button>
    </div>
  </ng-template>

</p-drawer>
